{#
/**
 * @file
 * Default theme implementation to display an embedded Internal video.
 *
 * Available variables:
 * - video: An array of video with:
 *    - src
 *    - mime_type
 * - entity_title: The title of the entity.
 * - settings: An array of settings selected in the formatter.
 *    - video_size
 *    - video_width
 *    - video_height
 *    - video_autoplay
 *    - video_mute
 *    - video_loop
 *    - video_controls
 *    - video_autohide
 * - attributes: array of HTML attributes populated by modules, intended to be
 *   added to the element wrapping the embedded Internal video player.
 *
 * @see template_preprocess_internal_video()
 *
 * @ingroup themeable
 */
#}
{% if video is not empty %}
  <figure{{ attributes }}>
    <video
      id="internal-video-{{ tracking_id }}"
      class="video-js vjs-fluid"
      controls=true
      preload="auto"
      width="640"
      height="264"
      data-setup="{}"
      {# TODO - Need to get the thumbnai yet  #}
      {# poster="https://placehold.co/600x400" #}
      tracking-id={{ tracking_id }}
    >
      <source src={{ video["src"] }} type={{ video["mime_type"] }} />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a
        >
      </p>
    </video>
  </figure>
{% endif %}

